<%- include("partials/header"); -%>
    <link rel="stylesheet" type="text/css" href="hexagons.css">

    <div class="title">
      <center>
        <h2 class="preTitle">Notes from Angela's</h2><br>
        <h1 class="pageTitle">Web Development Course</h1>
      </center>
    </div>

    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/html">
            <h1>HTML</h1>
            <p>Hypertext Markup Language</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/css">
            <h1>CSS</h1>
            <p>Cascade Style Sheets</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/bootstrap">
            <h1>Bootstrap</h1>
            <p>Responsive CSS framework</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/javascript">
            <h1>Javascript</h1>
            <p>The language that actually does stuff</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/jquery">
            <h1>jQuery</h1>
            <p>A JavaScript library designed to simplify HTML DOM tree traversal and manipulation</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/cli">
            <h1>CLI</h1>
            <p>Command line interface - some useful commands to remember</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/nodejs">
            <h1>Node.js</h1>
            <p>A back-end JavaScript runtime environment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/apis">
            <h1>APIs</h1>
            <p>Application Programming Interface - allows two applications to talk to each other.</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/git">
            <h1>Git</h1>
            <p>A few useful git commands to remember</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/ejs">
            <h1>EJS</h1>
            <p>Embedded JavaScript Templates - generate HTML markup with plain JavaScript</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/sql">
            <h1>SQL</h1>
            <p>Structured Query Language - a type of relational database.</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/mongodb">
            <h1>MongoDB</h1>
            <p>NoSQL (non-relational) database software.</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/mongoose">
            <h1>Mongoose</h1>
            <p>A Node package that simplifies communication with a MongoDB database.</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="rest">
            <h1>REST</h1>
            <p>Representational State Transfer - an API framework for processing HTML requests</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="authentication">
            <h1>OAuth</h1>
            <p>Open Authentication - third-party authentication framework</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="/react">
            <h1>React</h1>
            <p>A front end, JavaScript library for building user interfaces or UI components.</p>
          </a>
        </div>
      </li>
    </ul>

<%- include("partials/footer"); -%>
